@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');

@import "tailwindcss";

:root {
  --background: #fffee4;
  --foreground: #55107e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Besley', serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffee4;
    --foreground: #55107e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Besley', serif !important;

}
@font-face {
  font-family: 'Polaroid';
  src: url('/fonts/polaroid.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
